.game-list-title {
	a {
		margin-top: 18px;
	}
	.button-holder {
		text-align: right;
	}
}
.game-item {
	list-style-type: none;
	display: block;

	.description {
		margin-top: 6px;
	}

	.game-index-full & .description.no-other-tags {
		max-height: 3em;
		white-space: normal;

	}

	.description {
		margin-top: 6px;
		.date span {
			display: inline-block;
		}
	}

	.master, .date, .game-url {
		color: #333;
		font-size: 80%;
		margin-right: 1em;
	}


	.session-name, .game-name {
		font-weight: bold;
	}

	.game-index-full & {
		height: 165px;
		margin-bottom: 15px;
	}

	.game-details-session-index & {
		height: 175px;
		margin-bottom: 15px;
	}

	.game-index-compact & {
		height: 60px;
		margin-bottom: 5px;

		.description {
			margin-top: 0px;
		}

		.session-name, .date, .tags, .master {
			display: none;
		}
	}
}

