
.game-details {

	.game-participant {
		line-height: 36px;
		vertical-align: middle;
		margin-bottom: 3px;
	}

	.description {
		padding-left: 15px;
		margin-bottom: 25px;
	}

	.game-image {
		margin-bottom: 15px;
	}
}

.game-details-session-index {
	width: 100%;
	.game-item {
		height: auto;

		.description {
		    white-space: normal;
		}
	}
}
