{% extends 'base.html' %}
{% load i18n %}
{# load comments #}
{# load comments_xtd #}

{% block page_title %}{{ flatpage.title }}{% endblock %}

{% block content %}
  <h1>{{ flatpage.title }}</h1>
  <p class="text-muted"><small>{{ flatpage.publish_time }}</small></p>
  {{ flatpage.content }}
  {% comment %}
  {% if flatpage.enable_comments %}

    <div class="row comments">
      <h2>{% trans "Комментарии:" %}</h2>
      {% render_comment_list for flatpage %}
      <h2>{% trans "Добавить комментарий:" %}</h2>
      {% render_comment_form for flatpage %}
    </div>

  {% endif %}
  {% endcomment %}

{% endblock %}
