
input[type=number] {
	width: 6em;
}

.for-checkbox {
	max-width: 6em;
}

.report-field-visitor_level {
    max-width: 3.6em;
}

.report-field-visitor {
    min-width: 14em;
}

.report-field-comment {
    min-width: 22em;
}
