{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}

{% endblock %}



{% block page_title %}- {{ _("Генератор имён") }}{% endblock %}

{% block content %}
  <div class="row">
    <h1>{% trans "Генератор имён" %}</h1>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">

      <ul>
        {% for generator_group in generator_groups %}
        <li>{% if generator_group.selected %}<strong>{{ generator_group.verbose_name }}</strong>{% else %}{{ generator_group.verbose_name }}{%endif %}:
          <ul>
            {% for generator in generator_group.values %}
              <li><a href="{% url 'tabletop_tools:name_generator' generator.path %}">
                {% if generator.selected %}<strong>{{ generator.verbose_name }}</strong>{% else %}{{ generator.verbose_name }}{% endif %}
              </a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
        <li>
          <a href="{% url 'tabletop_tools:custom_generator' %}">
            {% with custom_generator_name=_('По таблице') %}
              {% if custom_is_active %}<strong>{{ custom_generator_name }}</strong>{% else %}{{ custom_generator_name }}{% endif %}
            {% endwith %}
          </a>
        </li>
        <li>
          <a href="{% url 'tabletop_tools:custom_url_generator' %}">
            {% with custom_generator_name=_('По ссылке на таблицу') %}
              {% if custom_url_is_active %}<strong>{{ custom_generator_name }}</strong>{% else %}{{ custom_generator_name }}{% endif %}
            {% endwith %}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12">
      {% if form %}
        {% crispy form %}
        {{ form.help_text|urlize|linebreaks }}
        {% if result %}
          <div class="jumbotron">{{ result|linebreaks }}</div>
        {% endif %}
      {% else %}
        {% trans "Пожалуйста выберите генератор из списка" %}
      {% endif %}
    </div>

  </div>

  <div class="row">
    <div>
      {% trans 'Генератор основан на <a href="https://github.com/Tiendil/pynames/">pynames</a>, который был создан <a href="http://tiendil.org/">Tiendil</a>.' %}
    </div>
    <div>
      {% blocktrans %}<a href="http://privateerpress.com/iron-kingdoms">Iron Kingdoms®</a> и имена генерируемые для данного сеттинга являются собственностью <a href="http://privateerpress.com/">Privateer Press Inc®</a> и были предоставлены участником их <a href="http://privateerpressforums.com/showthread.php?122817-Names-in-Iron-Kingdoms">форума</a> под ником <a href="http://privateerpressforums.com/member.php?77899-Gint">Gint</a>.{% endblocktrans %}
    </div>

    <div>
      {% blocktrans %}<a href="http://www.games-workshop.com/en-US/Warhammer">Warhammer®</a> и имена генерируемые для данного сеттинга являются собственностью <a href="http://www.games-workshop.com/">Games Workshop Limited®</a>.{% endblocktrans %}
    </div>

    <div>
      {% blocktrans %}<a href="http://dnd.wizards.com/">DnD</a> и имена генерируемые для данного сеттинга являются собственностью <a href="http://company.wizards.com/">Wizards of the Coast LLC, a subsidiary of Hasbro®</a>.{% endblocktrans %}
    </div>
    <div>
      {% blocktrans %}Для более детальной информации об источниках данных вы можете изучить библиотеку <a href="https://github.com/Tiendil/pynames">pynames</a>{% endblocktrans %}
    </div>
  </div>

{% endblock %}
