{% load i18n %}
{% load games_tags %}
{# load comments #}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{{ news_item.title }}</h3>
    {# get_comment_count for news_item as comment_count #}
    <div class="text-muted"><small>{{ news_item.publish_time }}{% comment %}{% if news_item.enable_comments %}, <span class="comment-count">{% blocktrans count comment_count=comment_count%}{{ comment_count }} комментарий{% plural %}{{ comment_count }} комментариев{% endblocktrans %}</span>{% endif %}{% endcomment %}</small></div>
  </div>
  <div class="panel-body">
    <p>{{ news_item.preview_text }}</p>
    <a href="{{ news_item.get_absolute_url }}">{% trans "Читать полностью" %}</a>
  </div>
</div>
