{% load comments i18n %}
{% load crispy_forms_tags %}
{% if request.user.is_authenticated %}
  <form action="{% comment_form_target %}" method="post" data-parsley-validate="data-parsley-validate" class="container-fluid js-game-edit-formset">{% csrf_token %}
    {% if next %}
      <div><input type="hidden" name="next" value="{{ next }}"/></div>
    {% elif form.target_object.get_absolute_url %}
     <div><input type="hidden" name="next" value="{{ form.target_object.get_absolute_url }}#comments"/></div>
    {% endif %}
    {% crispy form %}
    <div class="row">
      <div class="form-actions clearfix">
        <input type="submit" name="submit" value="{% trans 'Сохранить' %}" class="btn btn-primary btn btn-primary js-save" id="submit-id-submit">
      </div>
    </div>
  </form>
{% endif %}