{% load i18n %}
<dl id="comments">
  {% for comment in comment_list %}
    <a name="c{{ comment.id }}"></a>
    <dt id="c{{ comment.id }}" class="small muted">
      {{ comment.submit_date }} - {% if comment.user %}<a href="{{ comment.user.get_absolute_url }}">{{ comment.user.get_full_name }}</a>{% else %}{{ comment.name }}{% endif %}
    </dt>
    <dd>
      <p>{{ comment.comment|urlize|linebreaks }}</p>
      <a href="#c{{ comment.id }}" class="small">{% trans "ссылка на этот комментарий" %}</a>
    </dd>
    <hr>
  {% empty %}
    {% trans "Пока нет комментариев" %}
  {% endfor %}
</dl>
