{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load raven %}
{% load scribbler_tags %}
{% load common_tags %}
{% load google_analytics %}
{% spaceless %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  {# Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/i/378 #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ PROJECT_NAME }} {% block page_title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{{ PROJECT_NAME }}. {% filter striptags|force_escape %}{% scribble 'about_long' 'shared' %}{% endscribble %}{% endfilter %}{% endblock %}">
  <link rel="image_src" href="{% block meta_image_src %}{% filter with_domain:request %}{% static 'img/logo/logo-big.png' %}{% endfilter %}{% endblock %}" />

  <meta property="og:description" content="{% block meta_og_description %}{% endblock %}" />
  <meta property="og:image" content="{% block meta_og_image_src %}{% filter with_domain:request %}{% static 'img/logo/logo-big.png' %}{% endfilter %}{% endblock %}" />
  <meta property="og:author" content="{% block meta_og_author %}{% endblock %}" />


  <meta name="viewport" content="width=device-width">

  {% block favicons %}
  	<link rel="icon" href="{% static 'favicon.ico' %}" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
  	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon-precomposed.png' %}">
  {% endblock %}

  {% block meta %}
  {% endblock %}

  {% compress js %}
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}{% google_analytics %}{% endif %}
  {% endcompress %}

  {# only use `block css `to totally override! do not use block.super as it do not work with offline compression #}
  {% block css %}
    {% compress css %}
      <link rel="stylesheet" href="{% static 'libs/bootstrap/less/bootstrap.less' %}" type="text/less" charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/app.less' %}" type="text/less" charset="utf-8">
      <link rel="stylesheet" href="{% static 'scribbler/css/scribbler.css' %}" charset="utf-8">
      <link href="{% static 'qtip2/jquery.qtip.css' %}" rel="stylesheet">

      <link href="{% static 'happenings/css/calendar.css' %}" rel="stylesheet">

    {% endcompress %}
    <link rel="stylesheet" href="{% static 'libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" type="text/css" charset="utf-8">
  {% endblock %}


  {% block extra_css %}
    {# use compress block manualy in overriden block #}
  {% endblock %}

  <script src="{% static "js/libs/jquery-1.9.1.min.js" %}" type="text/javascript" charset="utf-8"></script>

  {% sentry_public_dsn as sentry_dsn %}
  <script src="//cdn.ravenjs.com/3.25.2/raven.min.js" crossorigin="anonymous"></script>
  {% if sentry_dsn %}
    <script>Raven.config('{{ sentry_dsn }}', {release: '{{ RAVEN_RELEASE|escapejs }}', environment: '{{ RAVEN_ENVIRONMENT|escapejs }}'}).install()</script>
  {% endif %}

  {% block extra_head %}
    {# use compress block manualy in overriden block #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
{% block body %}
  {# Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6. #}
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <header>
    {% block header %}
    <!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <img class="icon" src="{% static 'img/logo/logo.svg' %}"  onerror="this.src='{% static 'img/logo/logo_40.png' %}' this.srcset='{% static 'img/logo/logo_40.png' %}, {% static 'img/logo/logo_80.png' %} 2x'; this.onerror=null;"/>
              <img class="name" alt="PlayHard" title="PlayHard" width="140px" src="{% static 'img/logo/logo-text.svg' %}"
                   onerror="this.src='{% static 'img/logo/logo-text-140.png' %}'; this.srcset='{% static 'img/logo/logo-text-140.png' %}, {% static 'img/logo/logo-text-280.png' %} 2x'; this.onerror=null;"/>
          </a>
          <span class="navbar-brand header_footer_common">
          {% scribble 'header_footer_common' 'shared' %}
            {% load static %}
            {% load i18n %}
              <!-- <a target="_blank" rel="nofollow" href="https://t.me/joinchat/SOME-LINK-HERE"><img src="{% static 'img/contacts/telegram-contact.svg' %}" title="Telegram" alt="Telegram channel, " /></a> -->
              <!-- <a target="_blank" rel="nofollow" href="https://www.facebook.com/groups/723935074343980/"><img src="{% static 'img/contacts/facebook-contact.svg' %}" title="Facebook" alt="Facebook group, " /></a> -->
              <!-- <a target="_blank" rel="nofollow" href="https://www.instagram.com/SOME-LINK-HERE/"><img src="{% static 'img/contacts/instagram-contact.svg' %}" title="Instagram" alt="Instagram, " /></a> -->
              <!-- <a target="_blank" rel="nofollow" href="https://vk.com/SOME-LINK-HERE"><img src="{% static 'img/contacts/vk-contact.svg' %}" title="vk.com" alt="vk.com group, " /></a> -->
              <!-- <a target="_blank" rel="nofollow" href="#" title="{% trans 'Телефон' %}" data-content="SOME_PHONE_HERE" data-toggle="popover" tabindex="0" role="button" data-placement="bottom" data-trigger="focus" data-container="body"><img src="{% static 'img/contacts/phone-contact.svg' %}" title="SOME_PHONE_HERE" alt="SOME_PHONE_HERE" /></a> -->
          {% endscribble %}
          </span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'news-index' %}">{% trans "Новости" %}</a></li>
            <li><a href="{% url 'calendar:list' %}">{% trans "Календарь" %}</a></li>
            {# <li><a href="{% url 'games:game_sessions_index' %}">{% trans "Ближайшие игры" %}</a></li> #}
            <li><a href="{% url 'games:players_required' %}">{% trans "Набор игроков" %}</a></li>
            <li><a href="{% url 'accounting:levels_info' %}">{% trans "Цены" %}</a></li>

            <li><a href="{% url 'about' %}">{% blocktrans %}О {{ PROJECT_NAME }}{% endblocktrans %}</a></li>

            {% comment %}

            {% endcomment %}

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Инструменты' %} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'games:game_sessions_index' %}">{% trans "Ближайшие игры" %}</a></li>
		{#                <li><a href="{% url 'tabletop_tools:name_generator_index' %}">{% trans "Генератор имён" %}</a></li> #}
                <li><a href="{% url 'about' %}#section-stats">{% trans "Статистика" %}</a></li>
                <li><a href="{% url 'accounting:master_levels_info' %}">{% trans "Таблица опыта и вознаграждений для ведущих" %}</a></li>
                <li><a href="{% url 'accounting:levels_info' %}">{% trans "Таблица опыта и цен для игроков" %}</a></li>
              </ul>
            </li>
            {% if user.is_anonymous %}
              <li><a href="{% url 'signin' %}?next={{ next|default:request.path }}">{% trans "Войти" %}</a></li>
            {% else %}
	            <li class="dropdown">
	              <a href="{% url 'users:view_my_profile' %}" class="dropdown-toggle" data-toggle="dropdown">{{ request.user }} <span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="{% url 'users:view_my_profile' %}">{% trans "Мой профиль" %}</a></li>

                  {% if request.user.is_confirmed_master %}
                    <li><a href="{% url 'accounting:master_levels_info' %}">{% trans "Таблица опыта и оплаты ведущих" %}</a></li>
                    <li><a href="{% url 'games:create_game'%}" class="btn btn-success">{% trans "Создать игру" %}</a></li>
                  {% endif %}
	                <li><a href="{% url 'logout' %}?next={{ next|default:request.path }}">{% trans "Выход" %}</a></li>
	              </ul>
	            </li>
            {% endif %}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% endblock %}
  </header>

  <div class="container">

    {% include 'messages_extends/includes/alerts_bootstrap.html' %}

    <div class="content" role="main">
      {% block content %}{% endblock %}
    </div>

    <footer>
      {% block footer %}
      <div class="container">
        <hr>
        <div class="header_footer_common">{% scribble 'header_footer_common' 'shared' %}{% endscribble %}</div>
        {% scribble 'about_short' 'shared' %}
          <p>Сайт разработан @imposeren и возможно другими <a href="https://bitbucket.org/imposeren/tabletop-planning/commits/all">участниками</a>. Код данного сайта является открытым проектом и доступен на <a href="https://bitbucket.org/imposeren/tabletop-planning">BitBucket</a></p>
          <p>&copy; {{ PROJECT_NAME }} 2014-2019</p>
        {% endscribble %}
      </div>
      {% endblock footer %}
    </footer>
  </div>

  {# JavaScript at the bottom for fast page loading #}

  {# only use `block js `to totally override! do not use block.super as it do not work with offline compression #}
  {% block js %}
    {% compress js %}

      <script src="{% static 'libs/bootstrap/js/transition.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'libs/bootstrap/js/alert.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'libs/bootstrap/js/collapse.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'libs/bootstrap/js/tooltip.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'libs/bootstrap/js/popover.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'libs/bootstrap/js/dropdown.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'parsley/js/parsley.js' %}" ></script>
      <script src="{% static 'qtip2/jquery.qtip.js' %}" ></script>
    {% endcompress %}

    {% compress js  %}
      <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'js/calendar.js' %}"></script>
      <script src="{% static 'js/close-alerts.js' %}"></script>

    {% endcompress %}
  {% endblock js %}

  {% block extra_js %}{% endblock %}


  {% block js_nocompress %}
    <script src="{% static 'scribbler/js/scribbler-min.js' %}"></script>
    <script src="{% static 'js/libs/holder.min.js' %}" type="text/javascript" charset="utf-8"></script>
  {% endblock %}

{% endblock %}
</body>
</html>
{% endspaceless %}
