{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load compress %}
{% load happenings_tags %}

{% block page_title %}- {{ _("Игры") }} - {{ form.instance.name|default:_("Новая") }}{% endblock %}

{% block content %}
  <form data-parsley-validate="data-parsley-validate" method="post" enctype="multipart/form-data" novalidate="" _lpchecked="1" class="container-fluid js-game-edit-formset">

    <div class="row">
      <div class="form-actions clearfix">
        <input type="submit" name="submit" value="{% trans 'Сохранить' %}" class="btn btn-primary btn btn-primary js-save" id="submit-id-submit">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 js-main-form">
        {% if form.instance %}
          <h2>{% trans "Информация о игре" %}</h2>
        {% else %}
          <h2>{% trans "Новая игра" %}</h2>
        {% endif %}

        {% crispy form %}
      </div>
      <div class="col-md-6">
        {% if sessions_formset %}
          {{ sessions_formset.management_form|crispy }}
          {% for session_form in sessions_formset %}
              {% if not session_form.instance.pk %}
                <h2>{% trans "Создать новую сессию" %}</h2>
                <div class="js-new-session">
                  {% crispy session_form %}
                </div>
              {% else %}
                {% ifchanged %}<h2>{% trans "Созданные сессии" %}</h2>{% endifchanged %}
                <div class="js-old-session {{ session_form.readonly_class }}">
                  {% crispy session_form %}
                </div>
              {% endif %}
          {% endfor %}

          {% if sessions_formset|length == 1 %}
            <h2>{% trans "Ближайшие события" %}</h2>
            {% autoescape off %}
              {% show_calendar request mini=True %}
            {% endautoescape %}
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="form-actions clearfix">
        <input type="submit" name="submit" value="{% trans 'Сохранить' %}" class="btn btn-primary btn btn-primary js-save" id="submit-id-submit">
      </div>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/libs/moment-with-locales.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}" type="text/javascript" charset="utf-8"></script>
  {% compress js %}
    <script src="{% static 'games/forms/game_sessions.js' %}"></script>
  {% endcompress %}
{% endblock %}


{% block extra_css %}
  {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'games/forms/game_sessions.less' %}" />
  {% endcompress %}
{% endblock %}


{% block extra_head %}
  {{ sessions_formset.media }}
{% endblock %}
