{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load games_tags %}
{% load common_tags %}
{% load compress %}
{# load comments #}
{# load comments_xtd #}
{% load thumbnail %}


{% comment %}
{% block body_attributes %}{% spaceless %}
style="background-image:url({{game.image.url}})"
{% endspaceless %}{% endblock%}

{% block body_class %}cover-image{% endblock %}
{% endcomment %}

{% block extra_css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'games/css/game-index.less' %}" type="text/less" charset="utf-8">
    <link rel="stylesheet" href="{% static 'games/css/game-details.less' %}" type="text/less" charset="utf-8">
    <link rel="stylesheet" href="{% static 'tags/css/tags.less' %}" type="text/less" charset="utf-8">
  {% endcompress %}
{% endblock %}

{% block meta_description %}{{ game.description }}{% endblock %}
{% block meta_og_description %}{{ game.description }}{% endblock %}

{% block meta_author %}{{ game.masters.all.0.get_full_name|default:"" }}{% endblock %}
{% block meta_og_author %}{{ game.masters.all.0.get_full_name|default:"" }}{% endblock %}

{% block meta_image_src %}{% if game.image %}{% thumbnail game.image '600' crop='center' upscale=False as im %}{{ im.url|with_domain:request }}{% endthumbnail %}{% endif %}{% endblock %}
{% block meta_og_image_src %}{% if game.image %}{% thumbnail game.image '600' crop='center' upscale=False as im %}{{ im.url|with_domain:request }}{% endthumbnail %}{% endif %}{% endblock %}



{% block page_title %}- {{ _("Игры") }} - {{ game.name }}{% endblock %}

{% block content %}
	{% if not game.is_active %}
		<div class="alert alert-warning" role="alert">
      <strong>{% trans 'Внимание!' %}</strong> {% trans 'Игра неактивна. Только вы можете её видеть' %}
    </div>
	{% endif %}
  <div class="row">
    <div class="col-md-9">
      <h1>{{ game.name }}</h1>
    </div>
    <div class="col-md-3">
      {% include "games/blocks/action_buttons.html" with object=game game=game show_report_button=False %}
    </div>
  </div>

  <div class="row game-details">
    <div class="col-md-5 game-image">
      {% if game.image %}
        {% image_block game.image '478' %}
      {% endif %}
    </div>
    <div class="col-md-7">

      {% if game.description %}
        <div class="row description">
          {{ game.description|linebreaks }}
        </div>
      {% endif %}

      {% if game.secret_text or game.secret_link %}
        {% with player_confirmed=request.user|confirmed_in:game plays_this_game=request.user|can_leave:game is_master=request.user|can_edit:game %}
          {% if is_master or player_confirmed or plays_this_game and game.light_secret %}
            <div class="row secret">
              <div class="col-md-3">
                <b>{% trans "Секрет:" %}</b>
              </div>
              <div class="col-md-9">
                {% if not player_confirmed and not is_master %}
                  {% trans "Если ведущий подтвердит ваше участие то в этом поле вы сможете увидеть секретную ссылку или текст" %}
                {% else %}
                  {% if game.secret_link %}
                  <a href="{{ game.secret_link }}">
                  {% endif %}
                  {{ game.secret_text|default:_("Ссылка") }}
                  {% if game.secret_link %}
                  </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endwith %}
      {% endif %}

      <div class="row system">
        <div class="col-md-3">
          <b>{% trans "Система:" %}</b>
        </div>
        <div class="col-md-9">
          <ul class="tags">
            {% for tag in  game.system_tags.all %}
              {% include "blocks/tag_label.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row setting">
        <div class="col-md-3">
          <b>{% trans "Сеттинг:" %}</b>
        </div>
        <div class="col-md-9">
          <ul class="tags">
            {% for tag in  game.setting_tags.all %}
              {% include "blocks/tag_label.html" %}
            {% endfor %}
          </ul>
        </div>
      </div>

      {% if game.other_tags.all %}
        <div class="row tags">
          <div class="col-md-3">
            <b>{% trans "Прочие теги:" %}</b>
          </div>
          <div class="col-md-9">
            <ul class="tags">
              {% for tag in game.other_tags.all %}
                {% include "blocks/tag_label.html" %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <div class="row masters">
        <div class="col-md-3">
          <b>{% trans "Ведущие:" %}</b>
        </div>
        <div class="col-md-9">
          <ul>
            {% for master in game.masters.all %}
              <li class="game-participant"><a href="{{ master.get_absolute_url }}">{{ master.get_full_name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row players">
        <div class="col-md-3">
          <b>{% trans "Игроки:" %}</b>
        </div>
        <div class="col-md-9">
          <ul>
            <li class="game-participant">
              {% blocktrans count vacant_players=game.vacant_players %}
                В игру может вступить еще 1 игрок
              {% plural %}
                В игру может вступить еще {{ vacant_players }} игрока
              {% endblocktrans %}
            </li>
            {% for player in game.players.all %}
              <li class="game-participant">
                <a href="{{ player.get_absolute_url }}">{{ player.get_full_name }}</a>
                {% if request.user|can_edit:game %}
                 &ensp;<a href="{{ player|remove_from_game_url:game }}" class="btn btn-warning pull-right">{% trans "Удалить игрока" %}</a>
                 {% if player|can_be_confirmed_in:game %}
                   &ensp;<a href="{{ player|confirm_for_game_url:game }}" class="btn btn-success pull-right">{% trans "Подтвердить" %}</a>
                 {% endif %}
                 <div class="clearfix"></div>
                {% endif %}
                </li>
            {% empty %}
              <li class="game-participant">{% trans "На данный момент в этой игре нет игроков" %}</li>
            {% endfor %}
          </ul>

          {% if request.user|can_join:game %}
            <div><a href="{{ game.get_join_url }}" class="btn btn-success">{% trans "Присоединиться к игре" %}</a></div>
          {% elif request.user|can_leave:game %}
            <div><a href="{{ game.get_leave_url }}" class="btn btn-warning">{% trans "Покинуть игру" %}</a></div>
          {% elif game.vacant_players and not request.user.is_authenticated %}
            <div><a href="{% url 'signin' %}?next={{ game.get_join_url }}" class="btn btn-success">{% trans "Авторизуйтесь, чтобы присоединиться к игре" %}</a></div>
          {% endif %}
        </div>
      </div>

    </div> {# col-md-7 #}
  </div> {# row #}

  <div class="row game-details-session-index">
    <div class="col-md-7 col-sm-12 col-xs-12 game-details-session-index">
      <h2>{% trans "Игровые сессии:" %}</h2>
      {% for session in game.sessions.all %}
        {% render_game_or_session session request.user image_geometry=BIGGEST_GAME_IMAGE_GEOMETRY %}
      {% empty %}
        {% trans "На данный момент сессий в этой игре не запланировано" %}
      {% endfor %}
    </div>
{% comment %}
    <div class="col-md-5 col-sm-12 col-xs-12 comments">
      <h2>{% trans "Комментарии:" %}</h2>
      {% render_comment_list for game %}
      <h2>{% trans "Добавить комментарий:" %}</h2>
      {% render_comment_form for game %}
    </div>
{% endcomment %}
  </div>

{% endblock %}
