{% extends 'base.html' %}
{% load compress %}
{% load games_tags %}
{% load i18n %}
{% load static %}

{% block extra_js %}
  {% compress js %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>
  {% endcompress %}
{% endblock extra_js %}

{% block extra_css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'games/css/game-index.less' %}" type="text/less" charset="utf-8">
    <link rel="stylesheet" href="{% static 'tags/css/tags.less' %}" type="text/less" charset="utf-8">
  {% endcompress %}
{% endblock %}

{% block page_title %}- {{ _("Игры") }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">

      <div class="row game-list-title">
        <div class="col-md-9 col-sm-12 col-xs-12"><h1>{% block main_heading %}{% if nearest_game_sessions %}{% trans 'Ближайшие игры:' %}{% elif other_game_sessions %}{% trans 'Будущие игры:' %}{% else %}{% trans 'Игр не запланировано' %}{% endif %}{% endblock %}</h1></div>
        <div class="col-md-3  col-sm-12 col-xs-12 button-holder">
          <a href="{% url 'games:create_game'%}" class="btn btn-success">{% trans "Создать игру" %}</a>
        </div>
      </div>

      {% block games_list %}
        {% if nearest_game_sessions %}
          {% include page_template with image_geometry=BIGGER_GAME_IMAGE_GEOMETRY do_pagination=False sessions=nearest_game_sessions %}
        {% endif %}

        {% if other_game_sessions %}
          {% if nearest_game_sessions %}<h1>{% trans 'Будущие игры:' %}</h1>{% endif %}
          {% include page_template with image_geometry=BIGGER_GAME_IMAGE_GEOMETRY do_pagination=True sessions=other_game_sessions %}
        {% endif %}

      {% endblock games_list %}

    </div> {# `div class="col-md-8"` #}

    <div class="col-md-4">
      {# TODO: Use small game item template #}

      {% if user.get_unfinished_mastering_games %}
        <h2>{% trans "Ведёте:" %}</h2>
        <div class="game-index-compact">
        {% for game in user.get_unfinished_mastering_games %}
          {% render_game_or_session game request.user image_geometry=SMALL_GAME_IMAGE_GEOMETRY %}
        {% endfor %}
        </div>
      {% endif %}

      {% if user.get_playing_games %}
        <h1>{% trans "Играете:" %}</h1>
        <div class="game-index-compact">
        {% for game in user.get_playing_games %}
          {% render_game_or_session game request.user image_geometry=SMALL_GAME_IMAGE_GEOMETRY %}
        {% endfor %}
        </div>
      {% endif %}

      {% if user.get_finished_mastering_games %}
        <h2>{% trans "Завершили:" %}</h2>
        <div class="game-index-compact">
        {% for game in user.get_finished_mastering_games|slice:":3" %}
          {% render_game_or_session game request.user image_geometry=SMALL_GAME_IMAGE_GEOMETRY %}
        {% endfor %}
        {% if  user.get_finished_mastering_games|length > 3 %}
          <a href="{{ user.get_absolute_url }}">{% trans "Еще:" %}</a>
        {% endif %}
        </div>
      {% endif %}

      <div class="small-news">
        <h2>{% trans 'Последние новости' %}</h2>
        {% for news_item in latest_news %}
          {% include "news/news_item.html" %}
        {% empty %}
          {% trans "Пока новостей нет" %}
        {% endfor %}
        {% if latest_news %}
          <a href="">{% trans 'Все новости' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
