{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load compress %}
{% load scribbler_tags %}

{% block page_title %}- {{ _("Игры") }} - {{ game_session }} - {{ _("Отчет") }}{% endblock %}

{% block content %}
  <h1>{% blocktrans with game=game_session.game start_date=game_session.event.start_date %}Отчет о сессии "{{ game_session }}" игры "{{ game }}" за {{ start_date }} {% endblocktrans %}</h1>
  {% scribble 'report_preamble' 'shared' %}
    <p>
      Напоминаем вам, что почти все деньги полученные за игры тратятся на аренду и улучшение условий
      в клубе, поэтому нам важно, чтобы вы заполнили отчёт о проведённой игре.
    </p>
    <p>Немного советов по заполнению отчёта:</p>
    <ul>
      <li>
        Если игра была пропущена, то отчёт всё равно нужно заполнить, просто в уберите все отметки
        в столбце "был" (включая ведущего).
      </li>
      <li>
        Если кто-то из игроков не заплатил вам всю сумму сразу, или не заплатил вообще, то клубу
        всё-равно важно получить эти деньги, поэтому в любом случае ваша "добыча" будет учитывать
        полные стоимости для всех посетивших игроков. Если кто-то из игроков остался должен вам денег,
        то пожалуйста запишите это себе в блокнот, или воспользуйтесь другим удобным для вас методом
        напоминания. В данный момент возможности сайта, к сожалению, не могут помочь отслеживать
        долги игроков.
      </li>
      <li>
        Если вы или ваши игроки оставили после себя порядок на столе и в комнате, то можете отметить
        какому-то игроку "убрал стол", и/или "убрал пол". За это он получит дополнительный опыт,
        который влияет на "уровень игрока", что в свою очередь может давать некоторые преимущества в
        клубе. Если вы убираете все вместе, то можете просто на каждой следующей игре отмечайте
        уборку для каждого игрока по очереди
      </li>
      <li>
        Если игрок сказал, что у него есть электронный абонемент, а форма не позволяет это отметить - обратитесь к администратору для выяснения обстоятельств.
      </li>
      <li>
        Если вы потратили деньги на нужды клуба (заплатили за доставку воды, купили химию для уборки, потратились на другие бытовые нужды важные для клуба...),
        то пожалуйста в последней строке отчёта заполните поля "Оплата" и "Комментарий".
        Дополнительно было бы хорошо явно написать про это администратору, и еще лучше будет если вы скините ему в телеграмм фотографию чека.
      </li>
    </ul>
  {% endscribble %}
  {% crispy form %}

{% endblock %}


{% block extra_js %}
  {% compress js %}
    <script src="{% static 'games/forms/game_report.js' %}"></script>
  {% endcompress %}
{% endblock %}


{% block extra_css %}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'games/forms/game_report.css' %}" />
  {% endcompress %}
{% endblock %}

{% block extra_head %}
  {{ form.media }}
  {{ sessions_formset.media }}
{% endblock %}
