{% load i18n %}
{% blocktrans with session_title=game_session.event.title report_url=game_session.get_report_url %}
  Пожалуйста, заполните <a href="{{ report_url }}">отчёт о игре {{ session_title }}</a>.
{% endblocktrans %}
<br/>
{% trans "Игроки:" %}
<ul>
{% for player in game_session.game.players.all %}
  <li>
    {% if player.has_tickets %}
      {% blocktrans trimmed with price=player.default_player_payment|floatformat %}
        {{ player }}: {{ price }} {{ CURRENCY }} (возможно есть абонемент)
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed with price=player.default_player_payment|floatformat %}
        {{ player }}: {{ price }} {{ CURRENCY }}
      {% endblocktrans %}
    {% endif %}
  </li>
{% endfor %}
</ul>
