{% load i18n %}
{% if has_key_manage_permission %}
  <a href="#" class="btn btn-default js-key-change" data-state="{% if viewed_user.has_key %}1{% else %}0{% endif %}" data-state-on-text="{% trans "Есть ключ" %}" data-state-off-text="{% trans "Нет ключа" %}" data-user-pk="{{ viewed_user.pk }}" data-url="{% url "users:user_has_key_toggle" %}">
    <span class="text">
      {% if viewed_user.has_key %}
        {% trans "Есть ключ" %}
      {% else %}
        {% trans "Нет ключа" %}
      {% endif %}

    </span>
    <span class="glyphicon glyphicon-refresh"></span>
  </a>
{% endif %}
