[uwsgi]
vassal_name = %n
set-ph = vassal_name=%n

for-readline = <%= uwsgi_configs_root %>/env-vars/<%= build_number %>.conf
  env = %(_)
end-for =

virtualenv = <%= virtenv_dir %>
chdir = <%= revisions_root %>/<%= build_number %>/

module = <%= wsgi_module_import_path %>

include = <%= uwsgi_configs_root %>/vassals-default<%= configs_suffix %>.ini
