[uwsgi]
plugins = python36,logfile
pythonpath = .

enable-threads = true
single-interpreter = true

master = true
workers = 6
max-requests = 50

socket = <%= uwsgi_runtime_root %>/sockets/%(vassal_name).socket
touch-reload = <%= uwsgi_runtime_root %>//handles/%(vassal_name).touchme
pidfile = <%= uwsgi_runtime_root %>/pids/%(vassal_name).pid
logger = file:<%= uwsgi_runtime_root %>//logs/%(vassal_name).log

log-maxsize = 20971520

reload-on-as = 256
reload-on-rss = 256

uid = jenkins
gid = www-data


; misc
thunder-lock = true
disable-logging = true
lazy-apps = true
log-x-forwarded-for = true
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exceptions = true
cheap = true
