{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load scribbler_tags %}
{% load crispy_forms_tags %}


{% block page_title %}- {{ _("Модерация отчета") }}{% endblock %}

{% block content %}
  <form action="{{ game_session.get_moderation_url }}" method="POST">
    {% csrf_token %}
    <h2>Посещение:</h2>
      {{ form.management_form }}
      {% for visit in form %}
        <div class="form-horizontal">
          {% crispy visit %}
        </div>
        <blockquote>

        <h2>Опыт:</h2>
        {{ visit.nested.management_form }}
        {% for experience in visit.nested %}
          <div class="form-horizontal">
            {% crispy experience %}
          </div>
          {% if not forloop.last %}<hr/>{% endif %}
        {% endfor %}

        </blockquote>
        <hr/>

      {% endfor %}


    <input type="submit" value="Save" {% if not is_moderator %}disabled="disabled"{% endif %} class="btn btn-primary"/>
  </form>


{% endblock %}
