{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load scribbler_tags %}


{% block page_title %}- {{ _("Уровни") }}{% endblock %}

{% block content %}

  {% if not masters %}
    {% scribble 'preamble' %}
      Здравствуй, {{ request.user|default:"игрок" }}! <br/>
      Цена игр зависит от количества посещенных игр. За каждое посещение игрок получает опыт, который может увеличить его уровень. В зависимости от уровня меняется цена.<br/><br/>

      Список игр в которых можно участвовать можно посмотреть на этом же сайте <a href="{% url 'games:players_required' %}">тут</a>
    {% endscribble %}
  {% else %}
    {% scribble 'master_preamble' %}
      Здравствуй, {{ request.user|default:"ведущий" }}! <br/>
      Оплата за проведенную игру зависит от количества уже проведенных ведущим игр. За каждую проведенную игру ведущий получает опыт, который может увеличить уровень. В зависимости от уровня меняется оплата.
    {% endscribble %}
  {% endif %}

  <h1>{% trans 'Уровни:' %}</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>{% trans 'Опыта для получения уровня' %}</th>
        <th>{% trans 'Общее количество опыта' %}</th>
        {% if not masters %}
          <th>{% trans 'Стоимость одной игры' %}</th>

          <th>{% trans 'Стоимость ваучера на 5 игр' %}</th>
          <th>{% trans 'Экономия при покупке ваучера на 5 игр' %}</th>

          <th>{% trans 'Стоимость ваучера на 10 игр' %}</th>
          <th>{% trans 'Экономия при покупке ваучера на 10 игр' %}</th>
        {% else %}
          <th>{% trans 'Оплата одной игры' %}</th>
          <th>{% trans 'Минимум часов до новой игры' %}</th>
        {% endif %}

        <th>{% trans 'Дополнительно' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for level_info in level_infos %}
        <tr {% if not masters and request.user.player_level == level_info %} class="success"{% endif %} {% if masters and request.user.master_level == level_info %} class="success"{% endif %}>
          <td>{{ level_info.level }}</td>
          <td>{{ level_info.xp_per_level }}</td>
          <td>{{ level_info.total_xp }}</td>
          {% if not masters %}
            <td>{{ level_info.one_ticket_cost|floatformat }} {{ CURRENCY }}</td>

            <td>{{ level_info.five_tickets_cost|floatformat }} {{ CURRENCY }}</td>
            <td>{{ level_info.five_economy|floatformat:"0" }} %</td>

            <td>{{ level_info.ten_tickets_cost|floatformat }} {{ CURRENCY }}</td>
            <td>{{ level_info.ten_economy|floatformat:"0" }} %</td>
          {% else %}
            <td>{{ level_info.one_game_salary|floatformat:"0" }} {{ CURRENCY }}</td>
            <td>{{ level_info.safe_hours }} </td>
          {% endif %}

          <td>{{ level_info.extra_info }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% for level_info in level_infos %}
  {% endfor %}
{% endblock %}
