{% extends "admin/delete_confirmation.html" %}
{% load admin_urls i18n l10n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Сбросить баланс' %}
</div>
{% endblock %}



{% block content %}
	<div class="grp-group">
	    <h2>{% trans "Вы уверены, что хотите сбросить баланс следующих пользователей?" %}</h2>
	    <ul class="grp-nested-list">
		    {% for obj in queryset %}
		    	<li>{% trans 'User' %}: <a href="{% url 'admin:users_user_change' obj.pk %}">{{ obj }}</a> {% blocktrans with balance=obj.balance_verified %}(текущий баланс: {{ balance }} ){% endblocktrans %}</li>
		    {% endfor %}
   		</ul>
   	</div>

	<form action="" method="post">{% csrf_token %}
        <div id="submit" class="grp-module grp-submit-row grp-fixed-footer">
            {% for obj in queryset %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
            {% endfor %}
            <input type="hidden" name="action" value="reset_user_balance" />
            <input type="hidden" name="post" value="yes" />
            <ul>
                <li class="grp-float-left"><a href="." class="grp-button grp-cancel-link">{% trans "Cancel" %}</a></li>
                <li><input type="submit" value="{% trans "Yes, I'm sure" %}" class="grp-button grp-default" /></li>
            </ul>
            <input type="hidden" name="post" value="yes" />
        </div>
    </form>

{% endblock %}