{% extends 'base.html' %}
{% load sitegate i18n %}

{% block content %}

  {% url 'users:view_my_profile' as view_profile_url %}

  {% if not user.is_authenticated %}
  <div class="my_signin_block">
      {% sitegate_signin_form %}
  </div>

  <div>
    {% trans "Еще не участник?" %} <a href="{% url 'signup' %}">{% trans "Зарегистрируйтесь" %}</a>
  </div>

  <div>
    {% trans "Забыли пароль?" %} <a href="{% url 'password_reset' %}">{% trans "Восстановите" %}</a>
  </div>
  {% endif %}

  <div>
   {% if not user.is_authenticated %}
    <h2>{% trans "Или войдите с помощью:" %}</h2>
    <ul>
      <li><a href="{% url 'social:begin' "google-oauth2" %}?next={{ next|default:view_profile_url }}">Google</a></li>
      <li><a href="{% url 'social:begin' "disqus" %}?next={{ next|default:view_profile_url }}">Disqus</a></li>
      <li><a href="{% url 'social:begin' "facebook" %}?next={{ next|default:view_profile_url }}">Facebook</a></li>
    </ul>
   {% elif request.user.associatable_auths %}
    <h2>{% trans "Связать с аккаунтом:" %}</h2>
    <ul>
    {% for provider, provider_name in request.user.associatable_auths %}
      <li><a href="{% url 'social:begin' provider %}?next={{ next|default:view_profile_url }}">{{ provider_name }}</a></li>
    {% endfor %}
    </ul>
   {% else %}
    <h2>{% trans "Вы успешно авторизованы!" %}</h2>
   {% endif %}

  </div>



{% endblock %}ф
