{% extends 'base.html' %}
{% load sitegate i18n %}

{% block content %}

  <div class="my_signup_block">
      {% sitegate_signup_form %}
  </div>

  <div>
    {% include "users/social_auth_block.html" %}
  </div>



{% endblock %}ф
