{% load i18n %}
{% trans "Или войдите с помощью:" %}:
<ul>
  <li><a href="{% url 'social:begin' "google-oauth2" %}?next={{ next }}">Google</a></li>
  <li><a href="{% url 'social:begin' "facebook" %}?next={{ next }}">Facebook</a></li>
</ul>
