{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load compress %}
{% load common_tags %}
{% load games_tags %}

{% block extra_css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'games/css/game-index.less' %}" type="text/less" charset="utf-8">
    <link rel="stylesheet" href="{% static 'tags/css/tags.less' %}" type="text/less" charset="utf-8">
  {% endcompress %}
{% endblock %}


{% block extra_js %}
  {% compress js %}
    <script src="{% static 'users/js/user_profile.js' %}"></script>
  {% endcompress %}
{% endblock %}


{% block page_title %}- {{ _("Люди") }} - {{ viewed_user.get_full_name }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-9">
      <h1>{% trans "Информация о пользователе" %}</h1>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <div class="pull-right">
        {% include "users/blocks/key_change.html" %}
        {% if user == viewed_user %}
          <a href="{{ viewed_user.get_edit_url }}" class="btn btn-primary">{% trans "Редактировать" %}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 image">
      {% image_block viewed_user.image '355' %}
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12">

      <h2>{{ viewed_user.get_full_name }}</h2>
      <div class="row">
        <div class="col-md-12">
        {% include 'users/blocks/has_key.html' %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">{{ viewed_user|get_field_name:"cached_total_player_experience" }}</div>
        <div class="col-md-7 col-sm-7 col-xs-12">{{ viewed_user.cached_total_player_experience }}</div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">{% trans "Уровень игрока" %}</div>
        <div class="col-md-7 col-sm-7 col-xs-12">{{ viewed_user.player_level }}</div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">{{ viewed_user|get_field_name:"cached_total_master_experience" }}</div>
        <div class="col-md-7 col-sm-7 col-xs-12">{{ viewed_user.cached_total_master_experience }}</div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">{% trans "Уровень ведущего" %}</div>
        <div class="col-md-7 col-sm-7 col-xs-12">{{ viewed_user.master_level }}</div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">{% trans "Осталось игр по ваучеру" %}</div>
        <div class="col-md-7 col-sm-7 col-xs-12">{{ viewed_user.unused_tickets.count }}</div>
      </div>

      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">{% trans "Цена одной игры" %}</div>
        <div class="col-md-7 col-sm-7 col-xs-12">{{ viewed_user.default_player_payment }}</div>
      </div>

      {% if viewed_user == request.user or request.user.is_staff %}
        <div class="row">
          {% if viewed_user.balance_verified >= 0 %}
            <div class="col-md-5 col-sm-5 col-xs-12">
              {% trans "Ваша добыча" %}
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
              {{ viewed_user.balance_verified }}
            </div>
          {% else %}
            <div class="col-md-5 col-sm-5 col-xs-12">
              {% if viewed_user.is_confirmed_master %}
                {% trans "Добыча клуба" %}
              {% else %}
                {% trans "Долг за игры" %}
              {% endif %}
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
              {{ viewed_user.debt_verified }}
              {% if viewed_user.debt_unverified != 0 %}
                {% blocktrans trimmed with debt_unverified=viewed_user.debt_unverified %}
                  (только проверенные и подтверждённые клубом отчёты; не подтверждено: {{ debt_unverified }})
                {% endblocktrans %}
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if request.user|plays_with_me:viewed_user %}
        {% for contact_info in viewed_user.all_contacts_info %}
          <div class="row">
              <div class="col-md-5 col-sm-5 col-xs-12">{{ contact_info.description }}</div>
              <div class="col-md-7 col-sm-7 col-xs-12 profile-contact-{{ contact_info.contact_field }}"><a href="{{ contact_info.link }}">{{ contact_info.display }}</a></div>
          </div>
        {% endfor %}
      {% else %}
        {% for contact_info in viewed_user.contacts_info %}
          <div class="row">
              <div class="col-md-5 col-sm-5 col-xs-12">{{ contact_info.description }}</div>
              <div class="col-md-7 col-sm-7 col-xs-12 profile-contact-{{ contact_info.contact_field }}"><a href="{{ contact_info.link }}">{{ contact_info.display }}</a></div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    {% if viewed_user == request.user and viewed_user.get_unfinished_mastering_games %}
      <h2>{% trans "Ведёте следующие игры:" %}</h2>
      <div class="game-index-full">
      {% for game in viewed_user.get_unfinished_mastering_games %}
        {% render_game_or_session game request.user image_geometry=BIGGER_GAME_IMAGE_GEOMETRY %}
      {% endfor %}
      </div>
    {% elif viewed_user.get_unfinished_active_mastering_games %}
      <h2>{% trans "Ведёт следующие игры:" %}</h2>
      <div class="game-index-full">
      {% for game in viewed_user.get_unfinished_active_mastering_games %}
        {% render_game_or_session game request.user image_geometry=BIGGER_GAME_IMAGE_GEOMETRY %}
      {% endfor %}
      </div>
    {% endif %}

    {% if viewed_user.get_playing_games %}
      <h2>{% trans "Играет в следующих играх:" %}</h2>
      <div class="game-index-full">
        {% for game in viewed_user.get_playing_games %}
          {% render_game_or_session game request.user image_geometry=BIGGER_GAME_IMAGE_GEOMETRY %}
        {% endfor %}
      </div>
    {% endif %}

    {% if viewed_user.get_played_games %}
      <h2>{% trans "Играл в следующих играх:" %}</h2>
      <div class="game-index-full">
        {% for game in viewed_user.get_played_games %}
          {% render_game_or_session game request.user image_geometry=BIGGER_GAME_IMAGE_GEOMETRY %}
        {% endfor %}
      </div>
    {% endif %}


    {% if viewed_user.get_finished_active_mastering_games %}
      <h2>{% trans "Завершенные игры:" %}</h2>
      <div class="game-index-full">
      {% for game in viewed_user.get_finished_active_mastering_games %}
        {% render_game_or_session game request.user image_geometry=BIGGER_GAME_IMAGE_GEOMETRY %}
      {% endfor %}
      </div>
    {% endif %}
  </div>

{% endblock %}
