{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load compress %}

{% block extra_css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'libs/jQuery-MultiSelect/jquery.multiselect.css' %}" rel="stylesheet">
  {% endcompress %}
{% endblock %}


{% block extra_js %}
  {% compress js %}
    <script src="{% static 'libs/jQuery-MultiSelect/jquery.multiselect.js' %}"></script>
    <script src="{% static 'users/js/user_edit.js' %}"></script>
  {% endcompress %}
{% endblock %}



{% block page_title %}- {{ _("Люди") }} - {{ request.user.get_full_name }}{% endblock %}

{% block content %}

  {% crispy form %}

  {% if request.user.is_staff %}
    <ul>
      <li><a href="{% url 'users:enable_google_drive' %}">{% trans "Сохранять таблицы опыта у меня на гугл-диске" %}</a></li>
      {% if request.user.save_tables_to_drive %}
        <li><a href="{% url 'users:disable_google_drive' %}">{% trans "*Не* сохранять таблицы опыта у меня на гугл-диске" %}</a></li>
      {% endif %}
    </ul>
  {% endif %}
  {% if request.user.associatable_auths %}
    <h2>{% trans "Связать с аккаунтом:" %}</h2>
    <ul>
    {% for provider, provider_name in request.user.associatable_auths %}
      <li><a href="{% url 'social:begin' provider %}?next={{ next|default:request.path }}">{{ provider_name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
