{% extends 'happenings/middle.html' %}
{% load staticfiles i18n %}

{% block content %}

    {% if cal_error %}
        {{ cal_error }}
    {% endif %}

    <a href="{{ calendar_back_url }}">
        &larr; {% trans "Back to calendar" %}
    </a>

    <h1>
        {% trans "События" %}<br>
    {% if cal_category and cal_tag %}
            {% blocktrans with c=cal_category t=cal_tag %}
            в категории <span id="cal-day-category">{{ c }}</span>
            с тегом <span id="cal-day-tag">{{ t }}</span>
            {% endblocktrans %}
    {% elif cal_category %}
            {% blocktrans with c=cal_category t=cal_tag %}
            в категории <span id="cal-day-category">{{ c }}</span>
            {% endblocktrans %}
    {% elif cal_tag %}
            {% blocktrans with c=cal_category t=cal_tag %}
            с тегом = <span id="cal-day-tag">{{ t }}</span>
            {% endblocktrans %}
    {% endif %}
    </h1>

    <h2>{% trans "за " %}
        <span id="cal-day-day">{{ day }}</span>
        <span id="cal-day-mo"> {{ month }}</span>
        <span id="cal-day-year"> {{ year }}</span>
    </h2>
        <a id="cal-day-prev" class="cal-day" href="{{ request.path }}?cal_prev={{ prev }}">
            {% trans "предыдущий день" %}
        </a> |
        <a id="cal-day-next" class="cal-day" href="{{ request.path }}?cal_next={{ next }}">
            {% trans "следующий день" %}
        </a>

        <ul class="day-event-list">
            {% for event in events %}
                <li>
                  <a href="{% include "happenings/partials/event_link.html" %}">{{ event.title }}</a>
                </li>
            {% empty %}
                {% trans "Событий нет." %}
            {% endfor %}
        </ul>

{% endblock content %}
