{% extends 'happenings/middle.html' %}
{% load i18n %}
{% load staticfiles happenings_tags %}
{% block content %}

{% if cal_error %}
    {{ cal_error }}
{% endif %}

{% if not show_events %}<h1>{% trans "Календарь событий" %}</h1>{% endif %}

<div id="event-calendar">
    {{ calendar|safe }}
</div>

{% if show_events %}
<h1 id="month-list-events-title">
    {% if cal_category and cal_tag %}
        События в категории {{ cal_category }}
        с тегом = {{ cal_tag }}
    {% elif cal_category %}
        События в категории {{ cal_category }}
    {% elif cal_tag %}
        События с тегом = {{ cal_tag }}
    {% else %}
        События
    {% endif %}
</h1>

<h3>За <span id="month-and-year">{{ month_and_year }}</span></h3>
{% include 'happenings/partials/event_list.html' %}
{% endif %}

{% endblock content %}
