{% extends 'happenings/middle.html' %}
{% load staticfiles %}
{% load compress %}
{% load games_tags %}

{% block page_title %}{% if event.game_session %}{{ event.game_session.event.title }}{% else %}{{ event.title }}{% endif %}{% endblock %}

{% block extra_css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'games/css/game-index.less' %}" type="text/less" charset="utf-8">
    <link rel="stylesheet" href="{% static 'tags/css/tags.less' %}" type="text/less" charset="utf-8">
  {% endcompress %}
{% endblock %}

{% block content %}
  {% if event.game_session %}

    {% render_game_or_session event.game_session request.user image_geometry=BIGGER_GAME_IMAGE_GEOMETRY %}

  {% else %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>

    {% if event.start_end_diff %}
        <b>This is a {{ event.start_end_diff|add:"1" }} day event.</b><br>
    {% endif %}

    {% if next_event %}
    <b>This event repeats {{ repeat | lower }}.</b>
        <p>
            Next event date:
                {{ next_event }}
                {{ event.start_date }} -
                {{ event.end_date }}{% if next_or_prev_cncl %} (CANCELLED){% endif %}
    {% elif last_event %}
        <b>This was an event that repeated {{ repeat | lower }}.</b>
        <p>The last event was on {{ last_event }}{% if next_or_prev_cncl %} (CANCELLED){% endif %}
    {% else %}
        <p>Когда:
        {% if event_days %}
            <ul>
            {% for e in event_days %}
                <li>
                    День {{ forloop.counter }}: {{ e }} - {{ event.end_date }}
                    {% for c in event.cancellations.all %}
                        {% if c.date == e.date %}
                            (ОТМЕНЕНО)
                        {% endif %}
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% else %}
                {{ event.start_date }} - {{ event.end_date }}
                {% if this_cncl %} (CANCELLED){% endif %}
        {% endif %}
    {% endif %}
    (сегодня: {% now "D d-m-Y" %})</p>
    {% if cncl_days %}
        <p>This event has been cancelled on the following day(s):</p>
        <ul>
        {% for d, reason in cncl_days %}
            <li>{{ d }} - Reason: {{ reason }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if event.location.all %}
    <p>Мест{{ event.location.all|pluralize:"о,а" }}:<br>
    {% for l in event.location.all %}
        {{ l.name }}<br>
        {% if l.address_line_1 %}{{ l.address_line_1 }}<br>{% endif %}
        {% if l.address_line_2 %}{{ l.address_line_2 }}<br>{% endif %}
        {% if l.address_line_3 %}{{ l.address_line_3 }}<br>{% endif %}
        {% if l.city %}{{ l.city }},{% endif %}
        {% if l.state %}{{ l.state }}{% endif %}
        {% if l.zipcode %}{{ l.zipcode }}<br>{% endif %}
        {% if l.country %}{{ l.country }}<br>{% endif %}
    {% endfor %}
    </p>
    {% endif %}


    {% if event.categories.all %}
        Категори{{ event.categories.all|pluralize:"я,и" }}:
        <ul>
            {% for category in event.categories.all %}
            <li>{{ category.title }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if event.tags.all %}
        Тег{{ event.tags.all|pluralize:",и" }}:
        <ul>
            {% for tag in event.tags.all %}
            <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  {% endif %}

{% endblock content %}
