@import "variables.less";

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  font-size: 70%;

  li {
    float: left;
  }
}

.tags.tags-inline {
  display: inline-block;
  margin-bottom: -5px;
  .tag {
    margin-bottom: 0px !important;
  }
}

.tag {
  background: @btn-primary-bg;
  border-radius: 3px 0 0 3px;
  color: @btn-primary-color;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 12px 0 15px;
  position: relative;
  margin: 0 5px 5px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: @btn-primary-color;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 5px;
  position: absolute;
  width: 6px;
  top: 7px;
}

.tag::after {
  background: #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid @btn-primary-bg;
  border-top: 10px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: darken(@btn-primary-bg, 10%);
  color: @btn-success-color;
}

.tag:hover::after {
   border-left-color: darken(@btn-primary-bg, 10%);
}