{% load games_tags %}
{% load common_tags %}
{% load i18n %}

{% with target=session|default:game %}
    {% if show_report_button|default_if_none:True %}
        {% if user|can_report:target %}
          <a href="{{ target.get_report_url }}" class="btn btn-warning pull-right" title="{% trans 'Добавить отчёт' %}">{% trans "Отчёт" %}</a>
        {% elif user|can_edit_report:target %}
          <a href="{{ target.get_report_url }}" class="btn btn-info pull-right" title="{% trans 'Редактировать отчёт' %}">{% trans "Отчёт" %}</a>
        {% elif user|can_view_report:target %}
          <a href="{{ target.get_report_url }}" class="btn btn-success pull-right" title="{% trans 'Просмотреть отчёт' %}">{% trans "Отчёт" %}</a>
        {% endif %}
    {% endif %}

    {% if show_edit_button_for_game|default_if_none:True and game and not session %}
        {% if user|can_edit:game %}
          <a href="{{ game.get_edit_url }}" class="btn btn-primary pull-right" title="{% trans 'Настроить игру и сессии' %}">{% trans "Правка" %}</a>
        {% endif %}
    {% endif %}

{% endwith %}
