{# NOTE: update cache version in games/templatetags/games_tags.py:render_game_or_session on change #}
{% load i18n static %}
{% if not session %}
  {% include "games/blocks/action_buttons.html" with game=game session=session %}
  <div class="game-name">
    <a href="{{ game.get_absolute_url }}">{{ game.name }}</a>
    {% include "games/blocks/has_key.html" %}
  </div>
  {% include "games/blocks/game_masters_list.html" %}
  {% if game.vacant_players > 0 %}
    <div class="date">
      {% if game.last_session_start_time %}
        <span>
        {% blocktrans with last_session_start_time=game.last_session_start_time|date:"SHORT_DATETIME_FORMAT" %}
          Последняя игра: {{ last_session_start_time }}.
        {% endblocktrans %}
        </span>
      {% endif %}
      <span>{% trans "Необходимо игроков:" %} {{ game.vacant_players }}.</span>
      <span>
      {% blocktrans with last_modified=game.last_modified|date:"SHORT_DATETIME_FORMAT" %}Обновлено {{ last_modified }}.{% endblocktrans %}
      </span>
    </div>
  {% endif %}
  <div class="description auto-truncate">{{ game.short_description }}</div>
{% else %}
  {% include "games/blocks/action_buttons.html" with game=game session=session %}
  <div class="session-name">
    <a href="{{ game.get_absolute_url }}">{{ session.event.title }}</a>
    {% include "games/blocks/has_key.html" %}
  </div>
  <div class="date">
    {{ session.event.start_date|date:"SHORT_DATETIME_FORMAT" }}.
    {% if game.vacant_players %}
      {% trans "Необходимо игроков:" %} {{ game.vacant_players }}.
    {% endif %}
  </div>
  <div>
    {% include "games/blocks/game_masters_list.html" %}
    <span class="game-url">{{ _("Игра") }}: {{ game.name }}</span>
  </div>
  {% with other_tags=game.other_tags.all %}
  <div class="description auto-truncate{% if not other_tags %} no-other-tags{% endif %}">
    {% if not game.is_active %}({{ _("Скрыта") }}) {% endif %}{{ session.event.description|default:game.headline }}
  </div>
  {% endwith %}
{% endif %}

{% with tags=game.system_tags.all %}
{% if tags %}
  <ul class="tags">
    {% for tag in  tags %}
      {% include "blocks/tag_label.html" %}
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{% with tags=game.setting_tags.all %}
{% if tags %}
  <ul class="tags">
    {% for tag in  tags %}
      {% include "blocks/tag_label.html" %}
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

{% with tags=game.other_tags.all %}
{% if tags %}
  <ul class="tags">
    {% for tag in  tags %}
      {% include "blocks/tag_label.html" %}
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}
