{% load i18n %}
{% with masters=game.masters.all %}
  <span class="master">
    {% if masters|length == 1 %}
      {% trans "Ведёт:" %}
    {% else %}
      {% trans "Ведут:" %}
    {% endif %}

    {% for master in masters %}
      <a href="{{ master.get_absolute_url }}">{{ master }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
 </span>
{% endwith %}