{% load thumbnail %}
{% load games_tags %}
{% load common_tags %}
{% load i18n %}
<div class="row game-item">
  <div class="col-md-3 col-sm-3 col-xs-3 image">
    <a href="{{ game.get_absolute_url }}">
      {{ image_html }}
    </a>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-9 description">
    {{ description_html }}
  </div>
</div>
<div class="clearfix"></div>