{% load i18n %}
{% load thumbnail %}
{% load common_tags games_tags %}

<td class="{{ cssclass }} {% if is_current_day %}calendar-today{% endif %}">
<div class="td-inner">
  <a
    {% if URLS_NAMESPACE %}
      href="{% url URLS_NAMESPACE|add:':day_list' calendar.yr calendar.mo day %}"
    {% else %}
      href="{% url 'day_list' calendar.yr calendar.mo day %}"
    {% endif %}
  >{{ day }}</a>
  {% block "day_contents" %}
    {% for event in events %}
      {% if forloop.counter0 == 0 %}
        <div class="period-{{ event.l_start_date|timeperiod }}">
      {% endif %}
      {% if day == event.l_start_date.day or forloop.counter0 == 0 %}  {# skip non-first events started yesterday #}
        {% ifchanged event.l_start_date|timeperiod %}
          {% if forloop.counter0 != 0 %}
            </div><div class="period-{{ event.l_start_date|timeperiod }}">
          {% endif %}
        {% endifchanged %}
        <a class="event-anch period-{{ event.l_start_date|timeperiod }}" href="{% include 'happenings/partials/event_link.html' %}">
          <span
               title="{{ event.title }}{{ event.title_extra }}"
               data-content="{% filter force_escape %}{% include popover_template %}{% endfilter %}"
               data-html="true"
               class="calendar-event{% if not ignore_participation and not event.game_session|participates:request.user %} not-important{% endif %}"
               style="background:{{ event.colors.bg }};color:{{ event.colors.fnt  }};"
               >
            <div class="game-icon">
              {% include "games/blocks/game_session_item_image.html" with image_geometry="51x51" session=event.game_session game=event.game_session.game %}
              <span class="game-start-time">
                {{ event.l_start_date|time:CALENDAR_HOUR_FORMAT }}
                {% if event.game_session.game.someone_has_key %}🔓{% endif %}
              </span>
            </div>

          </span>
        </a>
      {% endif %}
      {% if forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  {% endblock "day_contents" %}
</div>
</td>
