{% load i18n %}
<td class="{{ cssclass }} {% if is_current_day %}calendar-today{% endif %}">
<div class="td-inner">
  <a
    {% if URLS_NAMESPACE %}
      href="{% url URLS_NAMESPACE|add:':day_list' calendar.yr calendar.mo day %}"
    {% else %}
      href="{% url 'day_list' calendar.yr calendar.mo day %}"
    {% endif %}
  >{{ day }}</a>
  {% block "day_contents" %}
	  <div
	       data-content="{% filter force_escape %}{% include popover_template %}{% endfilter %}"
	       data-container="body"
	       data-html="true"
	       class="calendar-event"
	       >
	        {{ num_events }}
	  </div>
	{% endblock %}

</div>
</td>
