<ul>
  {% for event in events %}
    <li>
      <a href="{% include 'happenings/partials/event_link.html' %}">
        {% if event.l_start_date.minute %}
          {{ event.l_start_date|time:CALENDAR_TIME_FORMAT }}
        {% else %}
          {{ event.l_start_date|time:CALENDAR_HOUR_FORMAT }}
        {% endif %}
        {{ event.title }}{{ event.title_extra }}
      </a>
    </li>
  {% endfor %}
</ul