{% load i18n %}
{% load common_tags %}
<h4>{{ event.title }}</h4>
<a href="{% include 'happenings/partials/event_link.html' %}">
  {% include "games/blocks/game_session_item_image.html" with image_geometry='125x83' session=event.game_session game=event.game_session.game %}
</a>

<p>
  <b>{% trans "Когда:" %}</b>
  {{ event.l_start_date|date:"F j" }},
  {{ event.l_start_date|time:CALENDAR_TIME_FORMAT }} - {{ event.l_end_date|round_datetime|time:CALENDAR_TIME_FORMAT }}
</p>

{% if event.location.exists %}
<p>
  <b>{% trans "Где:" %}</b>
  {% for l in event.location.all %}
    {{ l.name }}
  {% endfor %}
</p>
{% endif %}

{% with game=event.game_session.game %}
  {% if game.masters.all %}
    <p>
    {% include "games/blocks/game_masters_list.html" %}
    </p>
  {% endif %}
  {% if game.vacant_players %}
    <p>
    {% trans "Необходимо игроков:" %} {{ game.vacant_players }}.
    </p>
  {% endif %}
{% endwith %}

{% if event.description %}
  <p>
    <b>{% trans "Описание:" %}</b>
    {% if event.description|length > 105 %}
      {{ event.description|truncatechars:100 }}…
    {% else %}
      {{ event.description }}
    {% endif %}
  </p>
{% endif %}

<br><a href="{% include 'happenings/partials/event_link.html' %}">{% trans "Детали игры" %}</a>

<script type="text/javascript">
(function(){Holder.run({images:$('.img-thumbnail-empty:not([data-holder-rendered])').get()});}());
</script>
