@import "../libs/bootstrap/less/variables.less";

body {
	padding-top: 70px;
}
.asteriskField {
	color: @state-danger-text;
}

.container-fluid .input-group {
	width: 100%;
}

input[type=checkbox][readonly] {
	opacity: 0.4;
}

.navbar-brand {
	margin-top: -5px;
	img.icon {
		margin-top: -8px;
		display: inline;
	}
	img.name {
		margin-top: -2px;
		display: inline;
	}
}

input[type="submit"] + span.help-block {
	display: none;
}


.auto-truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-heading {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

.form-inline {
	.form-actions {
		display: inline-block;
	}
	.help-block {
		display: inline-block;
		margin: 0;
	}
	.input-group, .form-actions {
		margin-left: 1em;
	}
}


form #div_id_honeypot {
	display: none;
}

#event-calendar {
	.img-thumbnail {
		padding: 1.1em 2px 2px 2px;;
		border-radius: 2px;
	}
	.td-inner {
		overflow: hidden;
	}
}

span.calendar-event {
	padding: 0 !important;
	margin: 0 0 0 1px;
	display: inline-block;
	background: rgba(1,1,1,0);
}

#event-calendar-legend {
	margin: 0 0 1em 0;
	text-align: center;

	span {
		padding: 5px;
		display: inline-block;
	}

	.legend-centerer {
		display: inline-block;
	}
}



.period-0 .img-thumbnail{
	background-color: #062a60;
}

.period-1 .img-thumbnail{
	background-color: #9dfdfa;
}

.period-2 .img-thumbnail{
	background-color: #cbcbcb;
}

.period-3 .img-thumbnail{
	background-color: #838383;
}

.period-4 .img-thumbnail{
	background-color: #062a60;
}

.td-inner .period-1 {
	@media (min-width: @screen-md-min) {
		margin-top: 61px;
	}
}

.td-inner a + div.period-2 {
	@media (min-width: @screen-md-min) {
		margin-top: 122px;
	}
}
.td-inner a + div.period-3 {
	@media (min-width: @screen-md-min) {
		margin-top: 183px;
	}
}
.td-inner a + div.period-4 {
	@media (min-width: @screen-md-min) {
		margin-top: 244px;
	}
}

.game-icon {
	position: relative;
	display: inline-block;
	.game-start-time {
		color: black;
		position: absolute;
		top: 0;
		left:3px;
	}
}

.not-important {
	opacity: 0.7;
}

table.month {
	max-width: 1100px !important;
    margin: auto auto 15em auto !important;
}

.navbar-brand.header_footer_common {
	padding: 20px 0 15px 15px;
}
