{% extends 'base.html' %}
{% load i18n %}
{% load cache %}
{% load compress %}
{% load static %}
{% load scribbler_tags %}


{% block page_title %}- {{ _("О нас, плюс немного статистики") }}{% endblock %}

{% block meta_description %}{% trans "Финансовая статистика" %}{% endblock %}
{% block meta_og_description %}{% trans "Финансовая статистика" %}{% endblock %}

{% block extra_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% compress js %}
      <script src="{% static 'js/finance_statistics_page.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}

    <script type="text/javascript">
    $(document).ready(function(){
      var finance_data_dates = [];
      var finance_data_amounts = [];
      {% for finance_stat in finance_statistics %}
        finance_data_dates.push('{{ finance_stat.created_date|date:"Y-m-d" }} 12:00');
        finance_data_amounts.push({{ finance_stat.amount_sum|floatformat:"0" }})
      {% endfor %}
      graphFinanceData(finance_data_dates, finance_data_amounts);
    });

    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
{% endblock %}

{% block content %}

  <h1 id="finance-stats">{% trans "Финансовая статистика" %}</h1>

  <div id="graph"></div>

{% endblock %}
