{% extends 'base.html' %}
{% load i18n %}
{% load cache %}
{% load compress %}
{% load static %}
{% load scribbler_tags %}


{% block page_title %}- {{ _("Политика конфиденциальности") }}{% endblock %}

{% block meta_description %}{% trans "Политика конфиденциальности" %}{% endblock %}
{% block meta_og_description %}{% trans "Политика конфиденциальности" %}{% endblock %}


{% block content %}

  <h1 id="section-privacy_policy">{% trans "Политика конфиденциальности" %}</h1>

  {% scribble 'privacy_policy' 'shared' %}
    <p>Пользуясь сервисами Playhard, вы доверяете нам свои личные данные. Чтобы узнать, какие сведения мы сохраняем и как их используем, изучите нашу политику конфиденциальности.</p>

    <h2>Какую информацию мы собираем</h2>

    <p>По мере своих возможностей, мы стараемся собирать только ту информацию, которая необходима для работы основных функций сервиса:</p>

    <ul>
      <li>Организация и управление проведением настольных ролевых игр и других событий в клубе.</li>
      <li>Календарь событий</li>
      <li>Учет посещенных игр</li>
    </ul>

    <p>Информацию мы берем из следующих источников:</p>

    <ul>
      <li><b>Информация от пользователей.</b> Чтобы пользоваться нашими сервисами, необходимо иметь аккаунт. При его создании мы запрашиваем ваши персональные данные, например имя, адрес электронной почты, ссылки на ваши социальные профили и сохраняеи их в вашем аккаунте.
      </li>
      <li><b>Информация, которую мы получаем в результате использования вами сервисов.</b> Для обеспечения функционала логина мы сохраняем в файлах куки анонимный идентификатор, который используется для идентификации вашей текущей сессии в нашем сервисе.
      </li>
    </ul>

    <h2>Как мы используем собранные данные</h2>

    <p>Полученную информацию мы используем исключительно для предоставления основных функций сервиса. Некоторые ваши персональные данные (имя и адреса в социальных сетях) могут отображаться в вашем профиле и в событиях к которым вы присоединились.</p>

    <h2>Передача информации третьим лицам</h2>

    <p>Мы не предоставляем информацию третьим лицам.</p>

  {% endscribble %}

{% endblock %}
