{% load i18n %}
<br/>
{% blocktrans count sessions_count=stats_data.total_sessions %}Проведена {{ sessions_count }} сессия{% plural %}Проведено {{ sessions_count }} сессий{% endblocktrans %};
<br/>
{% blocktrans with avg_players=stats_data.avg_players|floatformat:"-2" %}В среднем каждую сессию посетило {{ avg_players }} игрока{% endblocktrans %};
<br/>
{% blocktrans count masters_active_count=stats_data.masters_active_count %}{{ masters_active_count }} ведущий провел игры{% plural %}{{ masters_active_count }} ведущих провели игры{% endblocktrans %};
<br/>
{% blocktrans with sessions_per_master=stats_data.sessions_per_master|floatformat:"-2" %}В среднем каждый ведущий провёл {{ sessions_per_master }} игровых сессии{% endblocktrans %};
<br/>
{% trans "Ведущие которые провели больше всего игровых сессий:" %}
<ol>
  {% for user in stats_data.top_masters_by_sessions %}
    <li>
      <a href="{{ user.get_absolute_url }}">{{ user }}</a>:
      {% blocktrans count sessions_count=user.sessions_count %}{{ sessions_count }} проведенная сессия{% plural %}{{ sessions_count }} проведенных сессий{% endblocktrans %}
      {% blocktrans count player_visits=user.mastered_player_visits %}и {{ player_visits }} посещение игроками{% plural %}и {{ player_visits }} посещений игроками{% endblocktrans %}
    </li>
  {% endfor %}
</ol>
