{% load i18n %}
<ol>
  {% for tag in tag_ranking_data %}
    <li>
      <ul class="tags tags-inline">{% include "blocks/tag_label.html" %}</ul>
      {% blocktrans count tag_count=tag.target_count %}{{ tag_count }} посещение игроком{% plural %}{{ tag_count }} посещений игроками{% endblocktrans %}
    </li>
  {% endfor %}
</ol>
