{% load i18n %}
{% blocktrans count player_visits=stats_data.total_player_visits %}{{ player_visits }} посещение игроками{% plural %}{{ player_visits }} посещений игроками{% endblocktrans %}
<ol>
  {% for user in stats_data.top_players_by_sessions %}
    <li>
      <a href="{{ user.get_absolute_url }}">{{ user }}</a>:
      {% blocktrans count sessions_count=user.sessions_count %}{{ sessions_count }} посещённая сессия{% plural %}{{ sessions_count }} посещенных сессий{% endblocktrans %}
    </li>
  {% endfor %}
</ol>
