{% extends 'base.html' %}
{% load i18n %}
{% load cache %}
{% load compress %}
{% load static %}
{% load scribbler_tags %}


{% block page_title %}- {{ _("О нас, плюс немного статистики") }}{% endblock %}

{% block meta_description %}{% trans "Статистика посещений" %}{% endblock %}
{% block meta_og_description %}{% trans "Статистика посещений" %}{% endblock %}

{% block extra_js %}
    {% compress js %}
      <script src="{% static 'js/statistics_page.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}

    <script type="text/javascript" src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    {% compress css %}
      <link rel="stylesheet" href="{% static 'tags/css/tags.less' %}" type="text/less" charset="utf-8">
    {% endcompress %}
{% endblock %}

{% block content %}

  <h1 id="section-about">{% trans "О нас" %}</h1>

  {% scribble 'about_long' 'shared' %}
    <p>Здравствуй, {{ request.user|default:"игрок" }}!</p>

    <p>Клуб Play Hard рад приветствовать тебя и предоставить мастера и партию на ролевую игру по вкусу.</p>

    <p>Фентези, фантастика, пост-апокалипсис и истории про зомби, игры по известным книгам и фильмам, все, что пожелает душа настоящего ролевика.</p>

    <p>Список игр в которых можно участвовать смотрите <a href="{% url 'games:players_required' %}">тут</a></p>

    <p>Также можете связаться с нами в <a href="https://vk.com/play_hard_rpg">группе vk.com</a>. Или в <a href="https://www.facebook.com/groups/723935074343980/">группе на facebook</a></p>

    <p>Наш адрес: город Киев, улица Брюллова, дом 5.</p>

    <p>Если вы уже договорились об игре, и уверены, что вас кто-то встретит в клубе, то вот как к нам пройти от станции метро "Вокзальная":</p>
    <div id="map" style="height: 30em; width:90%"></div>
  {% endscribble %}

  <h1 id="section-stats">{% trans "Статистика" %}</h1>


  {% if perms.accounting.add_balancechange or perms.accounting.change_balancechange or user.is_superuser %}
      <p><a href="{% url 'finance_statistics' %}">{% trans "Финансы" %}</a></p>
  {% endif %}

  {% if perms.accounting.add_balancechange or perms.accounting.change_balancechange or user.is_superuser %}
      <p><a href="{% url 'visits_statistics' %}">{% trans "Посещения" %}</a></p>
  {% endif %}

  {% if not ever_stats.total_sessions %}
    {% trans "В данный момент статистика еще недоступна" %}
  {% else %}
    <h2>{% trans "Проведено игровых сессий" %}</h2>
    <ul>

      <li>{% trans "За 30 дней:" %} {% include "tabletop_planning/statistics_masters_stats_block.html" with stats_data=one_month_stats %}</li>

      <li>{% trans "За год:" %} {% include "tabletop_planning/statistics_masters_stats_block.html" with stats_data=one_year_stats %}</li>

      <li>{% trans "За всё время:" %} {% include "tabletop_planning/statistics_masters_stats_block.html" with stats_data=ever_stats %}</li>

    </ul>

    <h2>{% trans "Посещений игроков" %}</h2>
    <ul>

      <li>
        {% trans "За 30 дней:" %} {% include "tabletop_planning/statistics_players_stats_block.html" with stats_data=one_month_stats %}</li>

      <li>{% trans "За год:" %} {% include "tabletop_planning/statistics_players_stats_block.html" with stats_data=one_year_stats %}</li>

      <li>{% trans "За всё время:" %} {% include "tabletop_planning/statistics_players_stats_block.html" with stats_data=ever_stats %}</li>

    </ul>

    {% if ever_stats.top_system_tags_by_visits %}
    <h2 id="popular-system-tags">{% trans "Популярные системы" %}</h2>
    <ul>

      {% if one_month_stats.top_system_tags_by_visits %}
      <li>
        {% trans "За 30-60 дней:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=one_month_stats.top_system_tags_by_visits %}
      </li>
      {% endif %}

      {% if one_year_stats.top_system_tags_by_visits %}
      <li>
        {% trans "За год:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=one_year_stats.top_system_tags_by_visits %}
      </li>
      {% endif %}

      <li>{% trans "За всё время:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=ever_stats.top_system_tags_by_visits %}
      </li>

    </ul>
    {% endif %}

    {% if ever_stats.top_setting_tags_by_visits %}
    <h2 id="popular-setting-tags">{% trans "Популярные вселенные" %}</h2>
    <ul>

      {% if one_month_stats.top_setting_tags_by_visits %}
      <li>
        {% trans "За 30-60 дней:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=one_month_stats.top_setting_tags_by_visits %}
      </li>
      {% endif %}

      {% if one_year_stats.top_setting_tags_by_visits %}
      <li>
        {% trans "За год:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=one_year_stats.top_setting_tags_by_visits %}
      </li>
      {% endif %}

      <li>{% trans "За всё время:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=ever_stats.top_setting_tags_by_visits %}
      </li>

    </ul>
    {% endif %}

    {% if ever_stats.top_other_tags_by_visits %}
    <h2 id="popular-other-tags">{% trans "Другие популярные теги" %}</h2>
    <ul>

      {% if one_month_stats.top_other_tags_by_visits %}
      <li>
        {% trans "За 30-60 дней:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=one_month_stats.top_other_tags_by_visits %}
      </li>
      {% endif %}

      {% if one_year_stats.top_other_tags_by_visits %}
      <li>
        {% trans "За год:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=one_year_stats.top_other_tags_by_visits %}
      </li>
      {% endif %}

      <li>{% trans "За всё время:" %}
        {% include "tabletop_planning/statistics_tag_ranking_block.html" with tag_ranking_data=ever_stats.top_other_tags_by_visits %}
      </li>

    </ul>
    {% endif %}

    <h2>{% trans "Загруженность клуба" %}</h2>
    <ul>
      <li>{% trans "За 30 дней:" %} {% include "tabletop_planning/statistics_week_day_stats_block.html" with stats_data=one_month_stats %}</li>
      <li>{% trans "За год:" %} {% include "tabletop_planning/statistics_week_day_stats_block.html" with stats_data=one_year_stats %}</li>
      <li>{% trans "За всё время:" %} {% include "tabletop_planning/statistics_week_day_stats_block.html" with stats_data=ever_stats %}</li>
    </ul>
  {% endif %}

{% endblock %}
