{% load i18n %}
<ul>
  <li>{% trans 'Понедельник' %}: {% blocktrans with sessions_count=stats_data.monday_sessions_count|floatformat:2 %}{{ sessions_count }} игровых сессий{% endblocktrans %}</li>
  <li>{% trans 'Вторник' %}: {% blocktrans with sessions_count=stats_data.tuesday_sessions_count|floatformat:2 %}{{ sessions_count }}  игровых сессий{% endblocktrans %}</li>
  <li>{% trans 'Среда' %}: {% blocktrans with sessions_count=stats_data.wednesday_sessions_count|floatformat:2 %}{{ sessions_count }}  игровых сессий{% endblocktrans %}</li>
  <li>{% trans 'Четверг' %}: {% blocktrans with sessions_count=stats_data.thursday_sessions_count|floatformat:2 %}{{ sessions_count }}  игровых сессий{% endblocktrans %}</li>
  <li>{% trans 'Пятница' %}: {% blocktrans with sessions_count=stats_data.friday_sessions_count|floatformat:2 %}{{ sessions_count }}  игровых сессий{% endblocktrans %}</li>
  <li>{% trans 'Суббота' %}: {% blocktrans with sessions_count=stats_data.saturday_sessions_count|floatformat:2 %}{{ sessions_count }}  игровых сессий{% endblocktrans %}</li>
  <li>{% trans 'Воскресенье' %}: {% blocktrans with sessions_count=stats_data.sunday_sessions_count|floatformat:2 %}{{ sessions_count }}  игровых сессий{% endblocktrans %}</li>
</ul>