{% extends 'base.html' %}
{% load i18n %}
{% load cache %}
{% load compress %}
{% load static %}
{% load scribbler_tags %}


{% block page_title %}- {{ _("О нас, плюс немного статистики") }}{% endblock %}

{% block meta_description %}{% trans "Статистика посещений" %}{% endblock %}
{% block meta_og_description %}{% trans "Статистика посещений" %}{% endblock %}

{% block extra_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% compress js %}
      <script src="{% static 'js/finance_statistics_page.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}

    <script type="text/javascript">
    $(document).ready(function(){
      var visits_data_dates = [];
      var visits_data_counts = [];
      {% for visit_stat in visits_statistics %}
        {% if visit_stat.visit_date  %}
          visits_data_dates.push('{{ visit_stat.visit_date|date:"Y-m-d" }} 12:00');
          visits_data_counts.push({{ visit_stat.total_visits }})
        {% endif %}
      {% endfor %}
      graphFinanceData(visits_data_dates, visits_data_counts);
    });

    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
{% endblock %}

{% block content %}

  <h1 id="finance-stats">{% trans "Статистика посещений" %}</h1>

  <div id="graph"></div>

{% endblock %}
