{% load crispy_forms_field %}
{% if hide_helptext %}
{% else %}
  {% if field.help_text %}
      {% if help_text_inline %}
        {% if not field|is_checkbox and not ignore_addons %}<span class="input-group-addon">{% endif %}
        <a href="#" data-toggle="tooltip" data-placement="left" data-title="{{ field.help_text }}" data-original-title="" title=""><span class="glyphicon glyphicon-info-sign"></span></a>
        {% if not field|is_checkbox %}</span>{% endif %}
      {% else %}
          <p id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</p>
      {% endif %}
  {% endif %}
{% endif %}